.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header {
  width: 50%;
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header div {
  display: flex;
  align-items: center;
}

.container header img {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  border: 1px solid grey;
  border-radius: 50%;
}

.container input {
  width: 50%;
  padding: 1.5rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.container button {
  width: 50%;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 700;

  background-color: #ea4c89;
  color: aliceblue;

  border: none;
  border-radius: 0.5rem;
  margin-block: 1rem;
  cursor: pointer;
  transition: filter 250ms;
}

.container button:hover {
  filter: brightness(0.9);
}
