.card {
  height: 6rem;
  width: 50%;

  background-color: #735bf2;
  color: #fff;

  border-radius: 0.6rem;
  margin-bottom: 1rem;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card strong {
  font-size: 1.1rem;
}
